VITE_UIPATH_CLIENT_ID=4134772e-400e-4848-b0e5-e21cb03391c7
VITE_UIPATH_ORG_NAME=fusionpublicsector
VITE_UIPATH_TENANT_NAME=DefaultTenant
VITE_UIPATH_BASE_URL=https://cloud.uipath.com
VITE_UIPATH_REDIRECT_URI=https://cloud.uipath.com/3dc79086-7296-4415-abd1-faa790edf198/apps_/default/run/production/f7c64e4e-57d3-4b41-93d8-58e0cfd65406/6f2c2926-120a-419a-a960-f02fb1d87bb7/ID4098a6e9a209407d8083fb7f43eec2a1/public
VITE_UIPATH_SCOPES=DataFabric.Data.Read DataFabric.Data.Write DataFabric.Schema.Read
